div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

div.jumbotron.hero-nature {
  background-image: url('../../assets/img/back-img1.jpg');
  padding-bottom: 200px;
}

div.jumbotron.hero-photography {
  background-image: url('../../assets/img/back-img2.jpg');
  padding-bottom: 200px;
}

div.jumbotron.hero-technology {
  background-image: url('../../assets/img/young-college-students.jpg');
  padding-bottom: 200px;
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #fff;
}

.plat {
  border-radius: 0px;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #016090;
  border-color: #016090;
}

.btn.btn-primary {
  background-color: #048f83!important;
  border-color: #048f83!important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

* {
  /*box-sizing: inherit;*/
}

span {
  font-style: inherit;
  font-weight: inherit;
}

@media (min-width: 300px) {
  element.style {
    text-align: center;
    font-size: 30px;
    padding: 20px;
  }
}

@media (min-width: 300px) {
  .btn.btn-primary.btn-xl.rounded-pill.mt-5 {
    padding: 20px 36px;
  }
}

.btn.btn-primary.btn-xl.rounded-pill.mt-5 {
}

@media (min-width: 768px) {
  .size {
    padding: 50px;
    text-align: center;
  }
}

.size {
  padding: 40px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  background-image: url("../../assets/img/LogoMakr-5IFapt.png");
  background-repeat: no-repeat;
  height: 40px;
  background-position: center;
  background-size: 70%;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
}

.btn.btn-primary {
  background-color: #055ada;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  background-image: url("../../assets/img/LogoMakr-5IFapt.png");
  background-position: center;
  background-size: 106%;
  padding-right: 24px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  width: 100px;
  height: 40px;
  margin-right: 33px;
  margin-top: -2px;
}

.btn.btn-primary {
  border-radius: 35px;
}

.masthead-heading {
}

